@tailwind base;
@tailwind components;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 -top-2 p-1 text-center;
  max-width: 70%;
  right: 0;
}

.bg-dark {
  @apply bg-gradient-to-br from-gray-800 to-black;
}

.bg-dark-i {
  @apply bg-gradient-to-tr from-gray-500 via-black to-gray-900;
}

.nft-common {
  @apply  shadow-md px-1.5 text-base py-0.5 bg-gradient-to-r from-gray-100 to-gray-300 rounded text-black;
}

.nft-rare {
  @apply  shadow-md px-1.5 text-base py-0.5 bg-gradient-to-r from-blue-400 to-emerald-400 rounded text-black;
}

.nft-epic {
  @apply shadow-md text-black px-1.5 text-base py-0.5 rounded bg-gradient-to-r from-pink-400 via-red-400 to-yellow-200 background-animate;
}

.background-animate {
  background-size: 300%;

  -webkit-animation: AnimationName 3s linear infinite;
  -moz-animation: AnimationName 3s linear infinite;
  animation: AnimationName 3s linear infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255, 115, 179;
  }

  html,
  body {
    @apply antialiased bg-gray-50 font-body dark:bg-slate-900 dark:text-white;
  }

  html {
    font-size: 18px; 
  }

  .vote-tab.active::after {
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    top: 76px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(129, 140, 248, 0.7);
    clear: both;
  }
}