@tailwind base;
@tailwind components;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 -top-2 p-1 text-center;
  max-width: 70%;
  right: 0;
}

.bg-dark {
  @apply bg-gradient-to-br from-gray-800 to-black;
}

.bg-dark-i {
  @apply bg-gradient-to-tr from-gray-500 via-black to-gray-900;
}

.nft-common {
  @apply  shadow-md px-1.5 text-base py-0.5 bg-gradient-to-r from-gray-100 to-gray-300 rounded text-black;
}

.nft-rare {
  @apply  shadow-md px-1.5 text-base py-0.5 bg-gradient-to-r from-blue-400 to-emerald-400 rounded text-black;
}

.nft-epic {
  @apply shadow-md text-black px-1.5 text-base py-0.5 rounded bg-gradient-to-r from-pink-400 via-red-400 to-yellow-200 background-animate;
}

.nft-legendary {
  @apply shadow-md text-black px-1.5 text-base py-0.5 rounded bg-gradient-to-r from-pink-400 via-emerald-400 to-yellow-200 background-animate;
}

.nft-owned {
  @apply  shadow-md px-1.5 text-base py-0.5 bg-gradient-to-r from-emerald-400 to-emerald-600 rounded text-black;
}

.background-animate {
  background-size: 300%;

  -webkit-animation: AnimationName 3s linear infinite;
  -moz-animation: AnimationName 3s linear infinite;
  animation: AnimationName 3s linear infinite;
}

.loader {
  span {
    animation: loading01 1.4s infinite alternate;
    @for $i from 0 through 6 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.1}s;
      }
    }
  }
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@tailwind utilities;

@layer base {
  :root {
    --color-primary: 5, 0, 179;
    /* Light theme */
    --talisman-connect-control-foreground: #f2f;
    --talisman-connect-active-background: #e5e5e5;
    --talisman-connect-active-foreground: inherit;
    --talisman-connect-modal-background: #fafafa;
    --talisman-connect-modal-foreground: inherit;
    --talisman-connect-button-background: #333;
    --talisman-connect-button-foreground: inherit;

    --talisman-connect-modal-gutter: 1rem;
    --talisman-connect-font-family: "Ubuntu mono";
    --talisman-connect-border-radius: 0.5rem;

    --talisman-connect-modal-width: 100%;
    --talisman-connect-modal-max-width: 600px;
    --talisman-connect-modal-max-height: 470px;

    --talisman-connect-button-gutter: 1rem;
    --talisman-connect-button-border-radius: 0.15rem;

    --talisman-connect-modal-header-font-size: 1.5rem;
    --modal-max-width: 600px;
  }

  div[class^='Modal-module_modal-content'] {
    max-width: 600px;
  }

  main[class^='Modal-module_modal-content-body'] {
    button {
      @apply bg-gradient-to-r border-2 border-solid border-gray-400 bg-white hover:bg-gradient-to-r hover:from-indigo-200 hover:to-indigo-400
    }
  }

  header[class^='Modal-module_modal-header'] {
    font-weight: bold;
  }

  @media (min-width: 768px) {
    :root {
      --talisman-connect-modal-min-width: 470px;
      --talisman-connect-modal-max-width: 470px;
    }
  }

  html,
  body {
    @apply antialiased bg-gray-50 font-body dark:bg-slate-900 dark:text-white;
  }

  html {
    font-size: 18px; 
  }

  a {
    @apply text-brand-600;
  }

  main a {
    @apply underline;
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  ul li {
    padding-top: 0.5rem;
  }

  ul.list-default li::before
  {
      content: '→';
      margin-right: 0.5rem;    /* any design */
  }

  ul.list-default ul li::before
  {
      content: '-';
      margin-right: 0.5rem;    /* any design */
  }

  ul.list-none li::before {
    content: '' !important;
    margin-right: 0 !important;
  }

  .wallet-connect {
    display: flex !important;
  }

  .vote-tab.active::after {
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    top: 76px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(129, 140, 248, 0.7);
    clear: both;
  }

  .nft-snippet-item > .nft-snippet-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .nft-snippet-item:hover > .nft-snippet-overlay {
    background-color: transparent;
  }
}